<div class="contents">
    <mat-card>
        <form [formGroup]="formGroup">
            <div>
                <mat-form-field>
                    <input matInput formControlName="searchInput" placeholder="Search" />
                </mat-form-field>
            </div>
            <div>
                <section>
                    <mat-checkbox formControlName="isAdmin">管理者</mat-checkbox>
                    <mat-checkbox formControlName="isCommonUser">一般ユーザー</mat-checkbox>
                </section>
            </div>
        </form>
    </mat-card>
    <div class="data-field">

    </div>
</div>