<div class="contents">
  <app-input-with-detail></app-input-with-detail>
  <div>
    
  </div>
  <div>
    なんやらかんやら
  </div>
  <div>
    なんやらかんやら
  </div>
  <div>
    なんやらかんやら
  </div>
  <div>
    なんやらかんやら
  </div>
  <div>
    なんやらかんやら
  </div>
  <div>
    なんやらかんやら
  </div>
  <div>
    なんやらかんやら
  </div>
  <div>
    なんやらかんやら
  </div>
  <div>
    なんやらかんやら
  </div>
  <div>
    なんやらかんやら
  </div>
  <div>
    なんやらかんやら
  </div>
  <div>
    なんやらかんやら
  </div>
  <div>
    なんやらかんやら
  </div>
  <div>
    なんやらかんやら
  </div>
  <div>
    なんやらかんやら
  </div>
  <div>
    なんやらかんやら
  </div>
  <div>
    なんやらかんやら
  </div>
</div>
